body {
	background: black;
}

* {
	min-height: 10px;
}

.postcard {
	background: white;
	width: 500px;
	height: 400px;
	margin: auto;
}

.postcard-header {
	display: flex;
	align-items: center;
}

.image-header {
	height: 50px;
	width: 50px;
}

.title-header {
	flex: 1 1 90%;
}

.postcard-body {
	display: flex;
}

.body-left {
	width: 50%;
	padding: 5px;
}

.body-left p {
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
}

.body-right {
	width: 50%;
	padding: 5px;
}

.name {
	padding-top: 20px;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 2px solid lightgray;
}

.email {
	padding-top: 20px;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 2px solid lightgray;
}

.comment {
	padding-top: 20px;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 2px solid lightgray;
}

.secondp {
	margin-top: 10px;
}

.postcard-footer {
	text-align: center;
}

.btnfooter {
	text-align: center;
	background-color: darkgray;
	padding: 10px;
}
